# DB Configuration
DB_USER=your_db_username_here
DB_PASS=your_db_password_here

# JWT
JWT_SECRET_KEY=your_jwt_secret_here

# Payment Gateway (Stripe)
STRIPE_SK_KEY=your_stripe_key_here

# App Performance and Environment
PORT=3000
NODE_ENV=development
